@import "{{ site.theme }}";

body {
    background-color: #1c1f21;
    color: #e6e6e6;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.post-card {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #404548;
}

a {
    color: #63b3ed;
} 